<% if @news_list.present? %>
    <% @news_list.each do |article| %>
        <div class="item">
          <a href="<%#= media_report_path(article) %>" class="title"><%= article.title %></a>
          <a href="<%#= media_report_path(article) %>"><img src="<%#= article.cover_img %>" alt="" /></a>
          <div  id="content_text_<%= article.id %>" style="display: none" >
            <%= article.content.html_safe %>
          </div>
          <div class="content" id="content_<%= article.id %>">
            <%= strip_tags article.content %>
          </div>
          <div class="mod-author">
            <span class="time"><%#= show_db_time article.started_at %></span>
            <a href="<%= blog_path(article) %>">查看详情>></a>
          </div>
        </div>
    <% end %>
<% end %>
