<!DOCTYPE html>
<html>
  <head>
    <%= display_meta_tags %>
    <meta content='Whmall' name='author'>
    <meta content='Whmall' name='copyright'>
    <meta content='Whmall' name='robots'>
    <meta content='no-transform' http-equiv='Cache-Control'>
    <meta content='no-siteapp' http-equiv='Cache-Control'>
    <link href="/assets/application-9300b51ed06c19e82363e2c119b3fdbe.css" media="screen" rel="stylesheet" type="text/css" />
    <script src="/assets/application-4d7cda13647c9d36616f0cfe56c468fe.js" type="text/javascript"></script>
    <!--[if IE 6]>
    <link href="/assets/ie6.min-9ae4d873c2186de93a17595e2bf0d129.css" media="screen" rel="stylesheet" type="text/css" />
    <![endif]-->
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= render :partial => "/shared/ebuychem/top_bar" %>
    <%= yield %>
    <%= render :partial => "/shared/ebuychem/footer" %>
  </body>
</html>
